.container {
    max-width: 600px;
    margin: auto;
}

.header {
    height: 100px;
    background-color: aqua;
    position: relative;
}

.title {
    margin: auto;
    padding-top: 36px;
    width: 200px;
    text-align: center;
}

.labelBtn {
    position: absolute;
    right: 0px;
    width: 50px;
    border-radius: 10px;
}

.all {
    top: 10px;
    /*height: 22px;*/
    background-color: blanchedalmond;
}

.online {
    top: 40px;
    background-color: green;
}

.offline {
    top: 70px;
    /*height: 10px;*/
    background-color: gray;
}

.labelBtn:hover {
    width: 80px;
}

.labelOnline:hover {
    width: 80px;
}

.selected {
    width: 80px
}